 #title{
    width: 300px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    text-align: center;
}
#title:hover{
    color: steelblue;
}
table {
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    border-collapse: collapse;
    text-align: center;
    align-self: center;
    table-layout: fixed;
    background-color: black;
}
.calendar-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1%;
    align-items: center;
    justify-items: center;
    overflow: hidden;
}
.month{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    min-height: 300px;
    max-height: 500px;
    column-count: 7;
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    justify-items: center;
    border-radius: 0 0 15px 15px;
    background-color: rgb(46, 46, 46);
}
.weekend {color: orangered;}
.day{
    border-radius: 50%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
    border:  solid 1px transparent;
    margin: 10%;
    /* below tags prevent text from being selectrable
    * i.e. text will not be highlighted using mouse
    * or touch in mobiles.
    */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.week{color: white;}
.weekend {color: orangered;}
.day:hover {
    background-color: rgba(35, 73, 104, 0.76);
}
#calendar{
    margin-top: 0px;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}
th {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    color: rgb(255, 255, 255);
}

.today{
    border: solid 1px rgb(0, 208, 245);
}

.offset{
    color: white;
    opacity: 20%;

}
.month-offset:hover{
    background-color: rgba(83, 83, 83, 0.253);
}
.navButtons{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    height: 200px;
    align-content: space-between;
    align-items: space-between;
    justify-content: space-between;
    max-height: fit-content;
    border-radius: 1rem 1rem 0px 0px;
    color: white;
    margin-top: 1rem;
}
#now{
    align-self: flex-end;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
    background-image: radial-gradient(black, transparent);
}
#now:hover{
    color: steelblue;
}
.buttons-banner{
    width: 100%;
    height: 40px;
    display: flex;
    font-size: x-large;
    align-items: center;
    justify-content: space-between;
    background:linear-gradient(to bottom, transparent, black);
}
.buttons-banner p:hover{
    color: steelblue;
}

.navButtons p {
    font-size: large;
    padding-left: 1em;
    padding-right: 1em;
}




