 #title{
            /*background-color: rgba(92, 177, 247, 0.555);*/
            width: 300px;
            padding-left: 15px;
            padding-right: 15px;
            color: white;
            text-align: center;
}
#title:hover{
    color: steelblue;
}
table {
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    border-collapse: collapse;
    text-align: center;
    align-self: center;
    table-layout: fixed;
    background-color: black;
    /*background-image: linear-gradient(to bottom,transparent, rgba(0, 0, 0, 0.98),black,rgba(0, 0, 0));*/
}
.calendar-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1%;
    align-items: center;
    justify-items: center;
    overflow: hidden;
}
.month{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    min-height: 300px;
    max-height: 500px;
    column-count: 7;
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    justify-items: center;
    border-radius: 0 0 15px 15px;
    background-color: rgb(46, 46, 46);
    border-top: dotted 1px steelblue;
}
.weekend {color: orangered;}
.day{
    border-radius: 50%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
    border:  solid 1px transparent;
    margin: 10%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.week{color: white;}
.weekend {color: orangered;}
.day:hover {
    background-color: rgba(35, 73, 104, 0.76);
}
.latin{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#calendar{
    margin-top: 0px;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    transition: all 1.6s ease-in-out;
}
th {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    background-color: rgb(46 46, 46);
    color: rgb(255, 255, 255);
}

.today{
    border: solid 1px rgb(0, 208, 245);
}

.month-offset{
    opacity: 50%;

}
.month-offset:hover{
    background-color: rgba(83, 83, 83, 0.253);
}
.navButtons{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    height: 200px;
    background-color: rgb(49, 38, 38);
    align-content: space-between;
    align-items: flex-end;
    justify-content: space-between;
    max-height: fit-content;
    border-radius: 1rem 1rem 0px 0px;
    color: white;
}
.buttons-banner{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    font-size: x-large;
    align-items: center;
    justify-content: space-between;
}
.buttons-banner i{
    text-align: center;
    font-size: xx-large;
    width: 20%;
}
.buttons-banner i:hover{
    color: steelblue;
}
.navButtons p {
    font-size: large;
    padding-left: 1em;
    padding-right: 1em;
}



