@font-face {
    font-family: 'abysinica';
    src:  url('../res/abysinica.ttf') format('truetype');
  }
  @font-face {
    font-family: 'nyala';
    src:  url('../res/nyala.ttf') format('truetype');
  }

html{
    margin: 0px;
    background-color: #123b4d;
    /*background-image: url(../res/plains.jpg);
    background-attachment: fixed;
    width: 100%;*/
}

body{
    margin: 0px;
    font-family: nyala;
    /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%231f7500' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23b89138' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23246318' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23af8730' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23302e27' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23aea72b' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%2332462e' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23d5642f' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23383736' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23cb6528' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23378537' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23cc5422' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    */
    background-size: cover;
    /*width: 100%;*/
}

#icon {
    border-radius: 5%;
    height:100%; 
    width:auto;
    box-shadow: 2px 2px 4px #000000;
    visibility: hidden;
  }

#wall{
    display: flex;
    flex-direction: row;
    background-color: rgb(37, 85, 104);
    background-image: linear-gradient(to right, rgb(32, 95, 122), rgb(194, 85, 35));
    width: 100%;
    padding: 1rem;
    box-sizing:border-box;
    justify-content: space-between;
    height: 170px;
    overflow: hidden;
}
footer{
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right,chocolate,rgb(12, 72, 112), rgb(21, 77, 122));
    width: 100%;
    padding: 1rem;
    margin-top: 20px;
    box-sizing:border-box; 
    height: 50px;
    justify-content: space-between;
    align-content: space-around;
}

#wall h1{
    font-size: 40px;
    padding-left: 4rem;
    align-self: flex-end;
    font-family: cursive;
    text-shadow: 2px 2px 4px #000000;
}


h1 {
    color: white;
    text-align: center;
    margin: 0px;
}

h3{
    text-align: center;
    font-size: x-large;
}
/* nav start*/
.navi{
    display: flex;
    flex-direction: row;
    background-color: rgb(32, 100, 131);
    box-shadow: 0 4px 8px 0 #00000070, 0 6px 20px 0 #00000050;
    z-index: 2;
    top: 0;
    width: 100%;
    position: sticky;
    justify-content: space-between;
    align-content: space-around;
    border-top: solid 1px chocolate;
    /*border-bottom: solid 1px chocolate;*/

}
  

.navi a:hover:not(.active) {
    background-color: rgba(58, 41, 28, 0.5);
}

.navi a:selection:not(.active){
    background-color: rgba(58, 41, 28, 0.5);   
}
  
.navi a {
    display: block;
    color: white;
    float: left;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navi a.sandwich{
    display: none;
}
/* nav end*/

#header-logo{
    display: flex;
    flex-direction: row;
    font-style: italic;
    font-weight: bold;
    align-items: center;
    height: 100%;
    padding: 9px 9px;
    
}
.group{
    display: flex;
    direction: inherit;
    font-style: italic;
    font-weight: bold;
    height: 100%;
}

#header-logo h1{
    padding-left: 10px;
}

.active{
    background-color: chocolate;
}

.container{ 
    display: flex;
    justify-content: space-around;
    margin: auto;
    border-radius: 5px;
    flex-wrap: wrap;
    width: 80%;
    flex-direction: row;
}
.container li{
    padding: min(10px, 1rem);
}

.container p{
    line-height: 2rem; 
    font-size: larger; 
}
.container h4{
    text-align: center;
}
.container h3{
    margin: 0;
    padding: 0.5em;
    color: #0091ff;
    text-shadow: 1px 0 0 rgb(255, 255, 255), -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
em{
    color: rgb(0, 255, 149);
    text-decoration: underline;
    
}

#logo{
    border-radius: 5%;
    height:100%; 
    width:auto;
    box-shadow: 2px 2px 4px #000000;
}

.paragraph{
    display: inline-flexbox;
    flex-basis: fill;
    text-align: justify;
    align-self: center;
    padding: 1em;
    max-width: 60%;
    border-radius: 1em;
    margin: 1%;
    color: rgb(255, 255, 255);
}
.paragraph li{
    /* so it looks like a cross*/
    list-style-type: "\2756";
}

.art{
    max-width: 25%;
    flex-basis: 20%;
    align-self: center;
    padding: 1em;
    height: auto;
    opacity: 80%;
    margin: 1%;
    
}

.dark-line {
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:#ff4800;
    height: 1px;
    margin: 0;
}
  
.logo{
    float: left;
}
@media screen and (max-width:750px) {
    .art{
        max-width: 80%;
        flex-basis: 100%;
        max-height: 100%;
        margin: 2rem;
    }
    .navi{
        border-top: none;
    }

    .container{
        width: 100%;
        padding: 0%;
        justify-content: space-around;
    }

    .paragraph{
        flex-basis: 100%;
        max-width: 100%;
        margin: 1em;
    }

    #wall{
        flex-direction: column;
        height: max-content;
        padding-bottom: 1px;
        background-image: linear-gradient(rgb(32, 95, 122), rgb(194, 85, 35));
    }

    #wall h1{
        font-size: 30px;
    }

    #logo{
        height: 56px;
        width: 56px;
    }
    .navi a:not(.sandwich) {
        display: none;
    }
    .navi a.sandwich{
        display: block;
    }
    
    .pdanav {
        display: flex;
        flex-direction: column;
        background-color: rgb(23, 118, 161);
        box-shadow: 0 4px 8px 0 #00000070, 0 6px 20px 0 #00000050;
        z-index: 2;
        top: 0;
        width: 100%;
        text-align: right;
        position: sticky;
    }   
    .pdanav a{
        float: none;
        display: block;
        text-align: right;
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        
        
    }
    .pdanav a.sandwich{
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .pdanav a:hover:not(.active) {
        background-color: rgba(58, 41, 28, 0.5);
    }
    
    .pdanav a:selection:not(.active){
        background-color: rgba(58, 41, 28, 0.5);
    } 

}
