@font-face {
    font-family: 'abysinica';
    src:  url('../res/abysinica.ttf') format('truetype');
  }
  @font-face {
    font-family: 'nyala';
    src:  url('../res/nyala.ttf') format('truetype');
  }

html{
    margin: 0px;
    /*width: 100%;*/
}

body{
    background-color: rgb(77, 88, 75);
    margin: 0px;
    font-family: nyala;
    /*width: 100%;*/
}

#icon {
    border-radius: 5%;
    height:100%; 
    width:auto;
    box-shadow: 2px 2px 4px #000000;
    visibility: hidden;
  }

#wall{
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right,chocolate,rgb(238, 91, 46), chocolate);
    width: 100%;
    padding: 1rem;
    box-sizing:border-box;
    height: 170px;
}
footer{
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right,chocolate,rgb(238, 91, 46), chocolate);
    width: 100%;
    padding: 1rem;
    margin-top: 20px;
    box-sizing:border-box; 
    height: 50px;
    justify-content: space-between;
    align-content: space-around;
}

#wall h1{
    font-size: 60px;
    padding-left: 4rem;
    align-self: flex-end;
    font-family: cursive;
    text-shadow: 2px 2px 4px #000000;
}

h1 {
    color: white;
    text-align: center;
    margin: 0px;
}

h3{
    text-align: center;
    font-size: x-large;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: rgb(23, 118, 161);
    box-shadow: 0 4px 8px 0 #00000070, 0 6px 20px 0 #00000050;
    z-index: 2;
    top: 0;
    width: 100%;
    position: sticky;
    justify-content: space-between;
    align-content: space-around;

}
  
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: rgb(255, 255, 255);
}

#header-logo{
    display: flex;
    direction: inherit;
    font-style: italic;
    font-weight: bold;
    align-self: center;
    align-items: center;
    height: 100%;
    padding: 0px 16px;
}

#header-logo h1{
    padding-left: 10px;
}

nav li a:hover {
    background-color: rgba(4, 7, 7, 0.5);
}

nav li a:selection{
    background-color: rgba(4, 7, 7, 0.603);     
}

nav li {
    float: left;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 14px 16px;
    text-decoration: none;
}

.active{
    background-color: chocolate;
}

.container{
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding-top: 3rem;
    flex-wrap: wrap;
    width: 80%;
    flex-direction: row;
}
.container li{
    padding: 1em;
}

.container p{
    line-height: 2rem; 
    font-size: larger; 
}

#logo{
    border-radius: 5%;
    height:100%; 
    width:auto;
    box-shadow: 2px 2px 4px #000000;
}

.paragraph{
    display: inline-flexbox;
    flex-basis: fill;
    text-align: justify;
    max-width: 60%;
    padding: 2rem;
    margin: 1rem;
    border-radius: 1em;
    color: rgb(221, 221, 221);
}

.art{
    width: fit-content;
    height: 490px;
    padding: 1em;
    margin: auto;
    
}

.dark-line {
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:#ff5100;
    height: 1px;
}
  
.logo{
    float: left;
}
.paragraph button{
    background-color: rgb(23, 118, 161);
    justify-self: flex-end;
    border-radius: 1em;
    box-sizing: content-box;
    padding: 1em;
}
.paragraph button:hover{
    background-color: chocolate;
    color: darkslategrey;
}
@media screen and (max-width:700px) {
    .art{
        width: 70%;
        height: auto;
        margin: 2rem;
    }

    .container{
        width: 100%;
        justify-content: space-around;
    }
    .paragraph{
        width: 100%;
        padding: 0rem;
        margin: 0rem;
    }
    
    
}
