body{
    background-color: rgb(230, 230, 230);
    flex-direction: column;
}
.wall{
    display: flex;
    flex-direction: column;
    background-color:rgb(51, 51, 51);
    color: rgb(209, 213, 216);
    top: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    height: 200px;
}
h1 {
    color: white;
    text-align: center;
  }
nav{
    display: flex;
    flex-direction: row;
    background-color: rgb(44, 44, 44);
    z-index: 2;
    top: 0%;
    width: 100%;
    height: 56px;
    position: sticky;
    justify-items: flex-end;
  }
  